a {
    transition: .2s ease-in-out;
}

main {
    overflow: hidden;
}

.img-fluid {
    width: 100%;
}

.alignfull {
   @extend %alignfull;
    z-index: 1;
    overflow: hidden;
}

video::-webkit-media-controls-overlay-play-button {
    display: none;
  }
 
 *::-webkit-media-controls-panel {
   display: none!important;
   -webkit-appearance: none;
 }
 
 *::--webkit-media-controls-play-button {
   display: none!important;
   -webkit-appearance: none;
 }
 
 *::-webkit-media-controls-start-playback-button {
   display: none!important;
   -webkit-appearance: none;
 }

 