#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: $cream;
    transform: translate(-50%, -50%);
    display: flex;
    img {
        max-width: 800px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: none;
        &.visible{
            display: block;
        } 
    }
    
}