$white: #ffffff;
$black: #000000;
$sage: #B3CD96;
$evergreen: #233C29;
$balsa: #eee8db;
$burlwood: #804431;
$ash: #5C564D;
$driftwood: #807259;
$beechwood: #B48E65;
$cream: #f1ebdb;
$charcoal: #2F2F2F;

$base-url: '../' !default;